**Toto je notebook pre exploratívnu analýzu**

In [2]:
import pandas as pd

**Profiles**

Najskôr si načítame dáta z "profiles.csv" do data frame.

In [73]:
filename_p = "data/profiles.csv"
dfp = pd.read_csv(filename_p, sep='\t')
## separátorom dát je znak tabulátora

Počet záznamov:

In [74]:
len(dfp)

3082

Počet atribútov:

In [75]:
len(dfp.columns.values)

10

Jednotlivé atribúty a ich typy:

In [76]:
dfp.dtypes

Unnamed: 0      int64
job            object
address        object
blood_group    object
ssn            object
birthdate      object
residence      object
race           object
name           object
sex            object
dtype: object

Overíme, či sa v dátach nevyskytujú NaN (chýbajúce hodnoty):

In [50]:
dfp.isnull().sum()

Unnamed: 0     0
job            0
address        0
blood_group    0
ssn            0
birthdate      0
residence      0
race           0
name           0
sex            0
dtype: int64

Vypíšeme si začiatok dát. Už z výpisu atribútov bolo vidieť zvláštny stĺpec "Unnamed: 0".

In [78]:
dfp.head()

,Unnamed: 0,job,address,blood_group,ssn,birthdate,residence,race,name,sex
0,0,Quarry manager,"6269 Kelsey Cove\nJessicahaven, KY 76299",B+,818-49-6074,1925-12-31,"30070 Anderson Branch Suite 371\nHoffmanberg, ...",White,Kimberly Frazier,F
1,1,Financial risk analyst,"72241 Luna Divide Suite 877\nMelindachester, I...",B+,617-52-9894,"03/21/1912, 00:00:00","61551 Williams Shoal Apt. 506\nLunaborough, VA...",Black,Timothy Gutierrez MD,M
2,2,Waste management officer,"6554 Nicole Lodge\nNorth Tanner, PA 59584",B+,690-88-6942,1960-11-19,"77305 Palmer Valleys Suite 424\nJennifertown, ...",Black,Elaine Elliott,F
3,3,Publishing rights manager,"847 Taylor Court Apt. 547\nGutierrezfort, SD 1...",O+,767-13-0171,1978/11/14,"62021 Schwartz Roads\nJaimeville, SD 64413",Black,Richard Anderson,M
4,4,Medical sales representative,"83815 Richard Causeway Suite 275\nLemouth, WV ...",B+,412-57-1910,"03/14/1995, 00:00:00",Unit 4872 Box 1158\nDPO AA 51410,white,Jennifer Bass,F

Ako prvý problém vidíme nepotrebný index stĺpec s názvom "Unnamed: 0", ktorý môžme odstrániť.

In [79]:
dfp.drop('Unnamed: 0', axis=1, inplace=True)
dfp.head()

,job,address,blood_group,ssn,birthdate,residence,race,name,sex
0,Quarry manager,"6269 Kelsey Cove\nJessicahaven, KY 76299",B+,818-49-6074,1925-12-31,"30070 Anderson Branch Suite 371\nHoffmanberg, ...",White,Kimberly Frazier,F
1,Financial risk analyst,"72241 Luna Divide Suite 877\nMelindachester, I...",B+,617-52-9894,"03/21/1912, 00:00:00","61551 Williams Shoal Apt. 506\nLunaborough, VA...",Black,Timothy Gutierrez MD,M
2,Waste management officer,"6554 Nicole Lodge\nNorth Tanner, PA 59584",B+,690-88-6942,1960-11-19,"77305 Palmer Valleys Suite 424\nJennifertown, ...",Black,Elaine Elliott,F
3,Publishing rights manager,"847 Taylor Court Apt. 547\nGutierrezfort, SD 1...",O+,767-13-0171,1978/11/14,"62021 Schwartz Roads\nJaimeville, SD 64413",Black,Richard Anderson,M
4,Medical sales representative,"83815 Richard Causeway Suite 275\nLemouth, WV ...",B+,412-57-1910,"03/14/1995, 00:00:00",Unit 4872 Box 1158\nDPO AA 51410,white,Jennifer Bass,F

Ďalší problém dát je nejednotný formát hodnôt v stĺpci "race":

In [80]:
dfp.race.unique()

array(['White', 'Black', 'white', 'Hawaiian', 'Asian', 'black', 'Indian',
       'blsck'], dtype=object)

Po úprave sú hodnoty v konzistentnom formáte.

In [81]:
dfp['race'] = dfp['race'].str.replace('white','White')
dfp['race'] = dfp['race'].str.replace('black','Black')
dfp['race'] = dfp['race'].str.replace('blsck','Black')
dfp.race.unique()

array(['White', 'Black', 'Hawaiian', 'Asian', 'Indian'], dtype=object)

In [82]:
dfp.groupby(['blood_group', 'sex']).size()        ## snudi pokus

blood_group  sex
A+           F      200
             M      206
A-           F      186
             M      186
AB+          F      209
             M      184
AB-          F      175
             M      206
B+           F      203
             M      176
B-           F      188
             M      173
O+           F      204
             M      208
O-           F      198
             M      180
dtype: int64

**Labor**

In [6]:
filename_l = "data/labor.csv"
dfl = pd.read_csv(filename_l, sep='\t')
dfl.head()

,Unnamed: 0,leukocyty,ssn,name,smoker,hemoglobin,trombocyty,indicator,alt,relationship,weight,ast,alp,hematokrit,hbver,etytr,er-cv,erytrocyty
0,0,5.90289,513-95-7625,Andrew Jacobs,no,7.54279,5.83096,1.0,17.60670,widowed,8.09544,42.92870,60.77098,6.50802,5.54259,6.57020,47.78400,5.46395
1,1,5.56403,025-71-2115,Ian Harrison,Y,7.87747,NaN,1.0,17.78037,single,73.58725,50.25507,47.14780,3.49169,3.52227,4.82276,55.62479,5.37924
2,2,6.24057,824-63-0108,Matthew Williams,no,4.72650,7.83234,1.0,25.25152,single,129.45079,25.15943,48.53570,8.65913,8.25976,5.64422,48.44629,6.52365
3,3,5.48374,157-32-2908,Charles Chavez,no,5.43079,5.36911,1.0,18.32802,divoced,18.61698,45.02094,73.77687,9.30190,6.26535,6.23014,50.48872,4.33766
4,4,6.04784,545-96-1267,Allen Chung MD,yes,8.85943,6.76682,1.0,11.03841,divoced,78.83355,59.06392,17.65112,4.47835,2.28488,7.83874,38.74892,5.17704

In [36]:
len(dfl)

10017

In [86]:
len(dfl.columns.values)

18

In [87]:
dfl.dtypes

Unnamed: 0        int64
leukocyty       float64
ssn              object
name             object
smoker           object
hemoglobin      float64
trombocyty      float64
indicator       float64
alt             float64
relationship     object
weight          float64
ast             float64
alp             float64
hematokrit      float64
hbver           float64
etytr           float64
er-cv           float64
erytrocyty      float64
dtype: object

In [94]:
dfl.isnull().sum()

Unnamed: 0       0
leukocyty       31
ssn              0
name             0
smoker           0
hemoglobin      32
trombocyty      30
indicator        0
alt             30
relationship     0
weight           0
ast             30
alp             30
hematokrit      30
hbver           30
etytr           30
er-cv           30
erytrocyty      30
dtype: int64

In [93]:
len(dfl[dfl.isnull().any(axis=1)])

327

In [92]:
dfl.smoker.unique()

array(['no', 'Y', 'yes', 'N'], dtype=object)

In [104]:
len(dfl.loc[dfl['smoker'].isin(['Y', 'N'])])

2598

In [105]:
len(dfl.loc[dfl['smoker'].isin(['yes', 'no'])])

7419

In [106]:
dfl['smoker'] = dfl['smoker'].str.replace('N','no')
dfl['smoker'] = dfl['smoker'].str.replace('Y','yes')
dfl.smoker.unique()

array(['no', 'yes'], dtype=object)